In [0]:
import pandas as pd

In [0]:
sales=pd.read_csv('sales_file.csv')

In [0]:
sales.head()

                 ordered_date  ... product_id
0  2018-09-15 11:44:00.000000  ...     321889
1  2018-09-15 11:44:00.000000  ...     266892
2  2018-09-15 11:44:00.000000  ...     300321
3  2018-09-15 11:44:00.000000  ...      39970
4  2018-09-15 11:44:00.000000  ...     266765

[5 rows x 5 columns]

In [0]:
sales['ordered_date'] = pd.to_datetime(sales['ordered_date'])
sales['ordered_date'] = pd.to_datetime(sales['ordered_date']).dt.date

In [0]:
sales=sales.drop(['delivered_date'],axis=1)

In [0]:
sales.head()

  ordered_date  Ordered Quantity  Oos Quantity  product_id
0   2018-09-15                 2             2      321889
1   2018-09-15                 1             0      266892
2   2018-09-15                 0             0      300321
3   2018-09-15                 1             0       39970
4   2018-09-15                 2             2      266765

In [0]:
sales.isna().sum()

ordered_date        0
Ordered Quantity    0
Oos Quantity        0
product_id          0
dtype: int64

In [0]:
sales = sales.sort_values(['ordered_date','product_id'])

In [0]:
sales.head()

    ordered_date  Ordered Quantity  Oos Quantity  product_id
162   2018-09-15                 1             0         335
259   2018-09-15                 1             0         417
16    2018-09-15                 0             0         479
57    2018-09-15                 2             0        3581
87    2018-09-15                 1             0        3581

In [0]:
pnq=pd.read_csv('pnq.csv')

In [0]:
pnq.head()

   product_id        date  Normal_Selling  Qty_Stock  Disc_Rate
0      345504  2018-09-15            9.62       13.0    0.00000
1      165247  2018-09-15            7.92        8.0   -0.05303
2      209027  2018-09-15            2.82       18.0    0.00000
3       41469  2018-09-15           32.50       16.0    0.00000
4       96467  2018-09-15            8.39        0.0    0.00000

In [0]:
pnq['date'] = pd.to_datetime(pnq['date']).dt.date

In [0]:
pnq.isna().sum()

product_id        0
date              0
Normal_Selling    0
Qty_Stock         0
Disc_Rate         0
dtype: int64

In [0]:
pnq = pnq.sort_values(['product_id','date'])

In [0]:
pnq.head()

       product_id        date  Normal_Selling  Qty_Stock  Disc_Rate
15058          99  2018-09-15            3.12      231.0        0.0
17331          99  2018-09-16            3.12      230.0        0.0
44078          99  2018-09-17            3.12      228.0        0.0
54348          99  2018-09-18            3.12      227.0        0.0
83032          99  2018-09-19            3.12      227.0        0.0

In [0]:
sales = sales.rename(columns = {'ordered_date': 'date'})

In [0]:
data=pd.merge(pnq,sales,on=['product_id','date'],how='left')

In [0]:
data.head()

   product_id        date  ...  Ordered Quantity  Oos Quantity
0          99  2018-09-15  ...               NaN           NaN
1          99  2018-09-16  ...               NaN           NaN
2          99  2018-09-17  ...               NaN           NaN
3          99  2018-09-18  ...               NaN           NaN
4          99  2018-09-19  ...               NaN           NaN

[5 rows x 7 columns]

In [0]:
data=data.fillna(0)

In [0]:
data.head()

   product_id        date  ...  Ordered Quantity  Oos Quantity
0          99  2018-09-15  ...               0.0           0.0
1          99  2018-09-16  ...               0.0           0.0
2          99  2018-09-17  ...               0.0           0.0
3          99  2018-09-18  ...               0.0           0.0
4          99  2018-09-19  ...               0.0           0.0

[5 rows x 7 columns]

In [0]:
data['Sales']=data['Qty_Stock']- data['Qty_Stock'].shift(-1)

In [0]:
data.head()

   product_id        date  ...  Oos Quantity  Sales
0          99  2018-09-15  ...           0.0    1.0
1          99  2018-09-16  ...           0.0    2.0
2          99  2018-09-17  ...           0.0    1.0
3          99  2018-09-18  ...           0.0    0.0
4          99  2018-09-19  ...           0.0    5.0

[5 rows x 8 columns]

In [0]:
data.loc[data['Sales']<0]

        product_id        date  ...  Oos Quantity  Sales
5               99  2018-09-20  ...           0.0 -192.0
49             114  2018-10-15  ...           0.0  -21.0
62             116  2018-09-27  ...           0.0  -24.0
99             118  2018-10-15  ...           0.0  -27.0
127            123  2018-10-12  ...           0.0  -44.0
161            124  2018-10-15  ...           0.0   -7.0
261            134  2018-10-15  ...           0.0   -5.0
276            135  2018-09-29  ...           0.0   -5.0
279            135  2018-10-02  ...           0.0   -5.0
788            158  2018-10-15  ...           0.0   -7.0
803            159  2018-09-29  ...           0.0   -7.0
806            159  2018-10-02  ...           0.0   -7.0
819            159  2018-10-15  ...           0.0   -2.0
823            184  2018-09-18  ...           0.0  -20.0
861            185  2018-09-25  ...           0.0  -20.0
892            188  2018-09-25  ...           0.0  -20.0
916            189  2018-09-18  ...           0.0  -19.0
918            189  2018-09-20  ...           0.0  -11.0
940            189  2018-10-12  ...           0.0  -10.0
968            192  2018-10-09  ...           0.0  -20.0
974            192  2018-10-15  ...           0.0  -17.0
980            196  2018-09-20  ...           0.0  -12.0
991            196  2018-10-01  ...           0.0   -6.0
994            196  2018-10-04  ...           0.0  -10.0
1100           206  2018-10-15  ...           0.0  -24.0
1131           218  2018-10-15  ...           0.0   -3.0
1169           232  2018-10-15  ...           0.0   -8.0
1207           238  2018-10-15  ...           0.0  -45.0
1235           246  2018-10-12  ...           0.0  -19.0
1238           246  2018-10-15  ...           0.0   -3.0
...            ...         ...  ...           ...    ...
627139      352616  2018-10-12  ...           0.0  -23.0
627149      352617  2018-10-15  ...           0.0   -8.0
627156      352618  2018-10-15  ...           0.0  -20.0
627163      352619  2018-10-15  ...           0.0   -7.0
627177      352621  2018-10-15  ...           0.0   -8.0
627181      352623  2018-10-12  ...           0.0  -16.0
627191      352624  2018-10-15  ...           0.0  -11.0
627199      352626  2018-10-09  ...           0.0   -6.0
627205      352626  2018-10-15  ...           0.0   -4.0
627207      352627  2018-10-10  ...           0.0   -7.0
627208      352627  2018-10-11  ...           0.0   -7.0
627212      352627  2018-10-15  ...           0.0  -66.0
627216      352628  2018-10-12  ...           0.0  -54.0
627226      352629  2018-10-15  ...           0.0   -1.0
627233      352630  2018-10-15  ...           0.0  -18.0
627237      352631  2018-10-12  ...           0.0   -8.0
627239      352631  2018-10-14  ...           0.0  -10.0
627247      352633  2018-10-15  ...           0.0  -12.0
627254      352634  2018-10-15  ...           0.0  -26.0
627260      352635  2018-10-14  ...           0.0  -12.0
627268      352636  2018-10-15  ...           0.0   -4.0
627275      352643  2018-10-15  ...           0.0   -5.0
627289      352645  2018-10-15  ...           0.0   -9.0
627293      352646  2018-10-12  ...           0.0  -10.0
627300      352650  2018-10-12  ...           0.0  -10.0
627303      352650  2018-10-15  ...           0.0  -72.0
627310      352654  2018-10-15  ...           0.0  -98.0
627330      352660  2018-10-14  ...           0.0   -8.0
627335      352662  2018-10-12  ...           0.0  -12.0
627342      352668  2018-10-12  ...           0.0  -13.0

[38459 rows x 8 columns]

In [0]:
data = data[data['Sales'] > 0]

In [0]:
data

        product_id        date  ...  Oos Quantity  Sales
0               99  2018-09-15  ...           0.0    1.0
1               99  2018-09-16  ...           0.0    2.0
2               99  2018-09-17  ...           0.0    1.0
4               99  2018-09-19  ...           0.0    5.0
6               99  2018-09-21  ...           0.0    3.0
7               99  2018-09-22  ...           0.0    1.0
8               99  2018-09-23  ...           0.0    2.0
10              99  2018-09-25  ...           0.0    3.0
11              99  2018-09-26  ...           0.0    4.0
13              99  2018-09-28  ...           0.0    2.0
16              99  2018-10-01  ...           0.0    6.0
17              99  2018-10-02  ...           0.0    1.0
18              99  2018-10-03  ...           0.0    1.0
20              99  2018-10-05  ...           0.0    1.0
21              99  2018-10-06  ...           0.0    5.0
22              99  2018-10-07  ...           0.0    5.0
23              99  2018-10-08  ...           0.0    3.0
24              99  2018-10-09  ...           0.0    3.0
25              99  2018-10-10  ...           0.0    3.0
26              99  2018-10-11  ...           0.0    3.0
27              99  2018-10-12  ...           0.0   50.0
28              99  2018-10-13  ...           0.0   34.0
29              99  2018-10-14  ...           0.0    3.0
30              99  2018-10-15  ...           0.0  281.0
52             116  2018-09-17  ...           0.0    1.0
53             116  2018-09-18  ...           0.0    1.0
57             116  2018-09-22  ...           0.0    2.0
58             116  2018-09-23  ...           0.0   16.0
59             116  2018-09-24  ...           0.0    1.0
64             116  2018-09-29  ...           0.0    3.0
...            ...         ...  ...           ...    ...
627210      352627  2018-10-13  ...           0.0    4.0
627211      352627  2018-10-14  ...           0.0    9.0
627219      352628  2018-10-15  ...           0.0  118.0
627238      352631  2018-10-13  ...           0.0    1.0
627240      352631  2018-10-15  ...           0.0   38.0
627251      352634  2018-10-12  ...           0.0   12.0
627258      352635  2018-10-12  ...           0.0   22.0
627261      352635  2018-10-15  ...           0.0   16.0
627277      352644  2018-10-10  ...           0.0    1.0
627279      352644  2018-10-12  ...           0.0    1.0
627282      352644  2018-10-15  ...           0.0    1.0
627286      352645  2018-10-12  ...           0.0    3.0
627295      352646  2018-10-14  ...           0.0    1.0
627296      352646  2018-10-15  ...           0.0    7.0
627306      352654  2018-10-11  ...           0.0    1.0
627307      352654  2018-10-12  ...           0.0   21.0
627309      352654  2018-10-14  ...           0.0    1.0
627312      352656  2018-10-10  ...           0.0    1.0
627314      352656  2018-10-12  ...           0.0   12.0
627317      352656  2018-10-15  ...           0.0  143.0
627321      352657  2018-10-12  ...           0.0    1.0
627324      352657  2018-10-15  ...           0.0    5.0
627326      352660  2018-10-10  ...           0.0    1.0
627327      352660  2018-10-11  ...           0.0    1.0
627328      352660  2018-10-12  ...           0.0    7.0
627331      352660  2018-10-15  ...           0.0    4.0
627332      352662  2018-10-09  ...           0.0    1.0
627338      352662  2018-10-15  ...           0.0    5.0
627345      352668  2018-10-15  ...           0.0   22.0
627349      352672  2018-10-12  ...           0.0    1.0

[125336 rows x 8 columns]

In [0]:
import numpy as np
data['Target']=np.where(data['Oos Quantity']>0,1,0)

In [0]:
data.head()

   product_id        date  Normal_Selling  ...  Oos Quantity  Sales  Target
0          99  2018-09-15            3.12  ...           0.0    1.0       0
1          99  2018-09-16            3.12  ...           0.0    2.0       0
2          99  2018-09-17            3.12  ...           0.0    1.0       0
4          99  2018-09-19            3.12  ...           0.0    5.0       0
6          99  2018-09-21            3.12  ...           0.0    3.0       0

[5 rows x 9 columns]

In [0]:
x=data[['Normal_Selling','Qty_Stock','Disc_Rate','Ordered Quantity','Sales']]
y=data[['Target']]

In [0]:
data.loc[data['Target']==0]

        product_id        date  Normal_Selling  ...  Oos Quantity  Sales  Target
0               99  2018-09-15            3.12  ...           0.0    1.0       0
1               99  2018-09-16            3.12  ...           0.0    2.0       0
2               99  2018-09-17            3.12  ...           0.0    1.0       0
4               99  2018-09-19            3.12  ...           0.0    5.0       0
6               99  2018-09-21            3.12  ...           0.0    3.0       0
7               99  2018-09-22            3.12  ...           0.0    1.0       0
8               99  2018-09-23            3.12  ...           0.0    2.0       0
10              99  2018-09-25            3.12  ...           0.0    3.0       0
11              99  2018-09-26            3.12  ...           0.0    4.0       0
13              99  2018-09-28            3.12  ...           0.0    2.0       0
16              99  2018-10-01            3.12  ...           0.0    6.0       0
17              99  2018-10-02            3.12  ...           0.0    1.0       0
18              99  2018-10-03            3.12  ...           0.0    1.0       0
20              99  2018-10-05            3.12  ...           0.0    1.0       0
21              99  2018-10-06            3.12  ...           0.0    5.0       0
22              99  2018-10-07            3.12  ...           0.0    5.0       0
23              99  2018-10-08            3.12  ...           0.0    3.0       0
24              99  2018-10-09            3.12  ...           0.0    3.0       0
25              99  2018-10-10            3.12  ...           0.0    3.0       0
26              99  2018-10-11            3.12  ...           0.0    3.0       0
27              99  2018-10-12            3.12  ...           0.0   50.0       0
28              99  2018-10-13            3.12  ...           0.0   34.0       0
29              99  2018-10-14            3.12  ...           0.0    3.0       0
30              99  2018-10-15            3.12  ...           0.0  281.0       0
52             116  2018-09-17            5.65  ...           0.0    1.0       0
53             116  2018-09-18            5.65  ...           0.0    1.0       0
57             116  2018-09-22            5.65  ...           0.0    2.0       0
58             116  2018-09-23            5.65  ...           0.0   16.0       0
59             116  2018-09-24            5.65  ...           0.0    1.0       0
64             116  2018-09-29            5.65  ...           0.0    3.0       0
...            ...         ...             ...  ...           ...    ...     ...
627210      352627  2018-10-13            2.99  ...           0.0    4.0       0
627211      352627  2018-10-14            2.99  ...           0.0    9.0       0
627219      352628  2018-10-15           16.25  ...           0.0  118.0       0
627238      352631  2018-10-13           61.03  ...           0.0    1.0       0
627240      352631  2018-10-15           61.03  ...           0.0   38.0       0
627251      352634  2018-10-12           10.03  ...           0.0   12.0       0
627258      352635  2018-10-12            6.03  ...           0.0   22.0       0
627261      352635  2018-10-15            6.03  ...           0.0   16.0       0
627277      352644  2018-10-10           17.45  ...           0.0    1.0       0
627279      352644  2018-10-12           17.45  ...           0.0    1.0       0
627282      352644  2018-10-15           17.45  ...           0.0    1.0       0
627286      352645  2018-10-12           12.89  ...           0.0    3.0       0
627295      352646  2018-10-14           10.87  ...           0.0    1.0       0
627296      352646  2018-10-15           10.87  ...           0.0    7.0       0
627306      352654  2018-10-11            9.03  ...           0.0    1.0       0
627307      352654  2018-10-12            9.03  ...           0.0   21.0       0
627309      352654  2018-10-14            9.03  ...           0.0    1.0       0
627312      352656  2018-10-10            9.03  ...           0.0    1.0       0
627314      352656  2018-10-12            9.03  ...           0.0   12.0       0
627317      352656  2018-10-15            9.03  ...           0.0  143.0       0
627321      352657  2018-10-12            5.70  ...           0.0    1.0       0
627324      352657  2018-10-15            5.70  ...           0.0    5.0       0
627326      352660  2018-10-10           14.65  ...           0.0    1.0       0
627327      352660  2018-10-11           14.65  ...           0.0    1.0       0
627328      352660  2018-10-12           14.65  ...           0.0    7.0       0
627331      352660  2018-10-15           14.65  ...           0.0    4.0       0
627332      352662  2018-10-09            4.66  ...           0.0    1.0       0
627338      352662  2018-10-15            4.66  ...           0.0    5.0       0
627345      352668  2018-10-15           14.65  ...           0.0   22.0       0
627349      352672  2018-10-12           42.35  ...           0.0    1.0       0

[124797 rows x 9 columns]

In [0]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
# fit model no training data
model = XGBClassifier()
model.fit(x,y.values.ravel())
y_pred = model.predict(x)
print("The Accuracy score is : ",accuracy_score(y,y_pred)*100,"%")
print(confusion_matrix(y,y_pred))

The Accuracy score is :  99.57554094593732 %
[[124790      7]
 [   525     14]]